<mat-toolbar class="main-header navbar fixed-header navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5 {{shadow_sm}}" style="top: 0">
    <a href="index.html" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 text-primary"><img class="img-fluid me-2" src="../../../../assets/img/logo.png" alt="" style="width: 45px;">DEVPro</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-4 py-lg-0">
            <a [routerLink]="['home']" [routerLinkActive]="'active'"  class="nav-item nav-link">Trang chủ</a>
            <a [routerLink]="['introduce']" [routerLinkActive]="'active'" class="nav-item nav-link">Giới thiệu</a>
            <a [routerLink]="['blog']" [routerLinkActive]="'active'" class="nav-item nav-link">Tin tức</a>
            <a [routerLink]="['contact']" [routerLinkActive]="'active'" class="nav-item nav-link">Liên hệ</a>
        </div>
        <div class="h-100 d-lg-inline-flex align-items-center d-none">
            <a class="btn btn-primary fw-normal text-white ms-2" href="login">Đăng nhập</a>
            <a class="btn btn-primary fw-normal text-white ms-2" href="register">Đăng ký</a>
        </div>
    </div>
</mat-toolbar>