<div class="container-fluid blogs-header bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <h1 class="display-4 mb-0 text-center text-white">Tin tức</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 justify-content-center">
                    <li class="breadcrumb-item"><a href="">Trang chủ</a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">Tin tức</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="g-5" *ngIf="latest_news">
            <div class="blogs-type">
                <h4>Tin mới nhất</h4>
            </div>
            <div class="row blogs-news">
                <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let item of latest_news">
                    <div class="blogs-item">
                        <div class="blogs-trending-news-list-box">
                            <div class="blogs-thumb">
                                <img class="blogs-img"
                                    src="https://html.quomodosoft.com/binduz/assets/images/main-post-thumb-1.jpg"
                                    alt="">
                            </div>
                            <div class="blogs-content">
                                <div class="blogs-meta-item">
                                    <div class="blogs-meta-categories">
                                        <a href="#">Technology</a>
                                    </div>
                                    <div class="blogs-meta-date">
                                        <span><i class="fal fa-calendar-alt"></i> 14th February 2020</span>
                                    </div>
                                </div>
                                <div class="blogs-trending-news-list-title">
                                    <h4 class="blogs-title"><a href="#">Trash to treasure: How Google thinks about</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        in cididunt ut labore et dolore</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>