.banner {
    background-image: url('../../../../../assets/img/home/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-item {
    height: 90vh;
}

.showMore {
    position: relative;
    z-index: 9;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 90vh;
}

#particles-js .particles-js-canvas-el {
    max-height: 90vh !important;
}
.img-fluid-about{
    width: 400px;
    max-width: 100%;
    height: auto;
}
.service-item {
    height: 19rem;
}

.service-item .title {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding-bottom: 2px;
}

.service-item .subject {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding-bottom: 2px;
}

.service-item .read-more{
    position: absolute;
    bottom: 3rem;
}
@media (max-width: 991px) {
    .banner-item {
        max-height: 74vh;
    }
}
@media (max-width: 768px) {
    .banner{
        background-size: 100%;
    }
    .banner-item{
        max-height: 55vh;
    }
    .banner-text{
        margin-top: 0;
    }
    .img-fluid-about{
        width: 20rem;
    }
}
@media (max-width: 450px) {
    .banner{
        background-size: 750px 100%;
    }
    .banner-item{
        max-height: 90vh;
    }
    .fluid-about{
        text-align: center;
        margin-top: 1rem;
    }
    .img-fluid-about{
        width: 15rem;
    }
}
@media (max-width: 320px) {
    .banner-item {
        max-height: 100vh;
        height: 80vh;
    }
    #particles-js{
        width: 100vw;
        height: 90vh;
        max-height: 100vh;
    }
}