<div class="container-fluid hero-header banner mt-5">
    <div class="container">
        <div class="row g-5 align-items-center banner-item">
            <span id="particles-js" class="mt-0 px-0"></span>
            <div class="col-lg-7 banner-text">
                <h1 class="mb-3 animated slideInDown text-white">Chào mừng bạn đến với DEVPRO</h1>
                <p class="animated slideInDown text-white">Kho kiến thức về lập trình được chia sẻ bởi cộng đồng tài năng của
                    chúng tôi.</p>
                <a href="/blog" class="btn btn-primary py-3 px-4 animated slideInDown showMore">Tìm hiểu ngay</a>
            </div>
            <!-- <div class="col-lg-6 animated fadeIn text-center">
                <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="./assets/img/home/banner.png" alt="" width="400px">
            </div> -->
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-6 col-lg-6 wow fadeInUp fluid-about"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <img class="img-fluid-about" src="./assets/img/home/about.png" alt="">
            </div>
            <div class="col-md-6 col-lg-6 wow fadeInUp"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <div class="h-100">
                    <h1 class="display-6">Về chúng tôi</h1>
                    <p class="text-primary fs-5 mb-4">Nền tảng kiến thức lập trình đáng tin cậy nhất</p>
                    <p>Chúng tôi cung cấp các kiến thức về lập trình gắn liền với hướng phát triển của các doanh nghiệp,
                        hướng tới sự tối ưu và cải tiến, tạo ra những giá trị mới.</p>
                    <p class="mb-4">Chúng tôi cũng cung cấp các nền tảng kiến thức về công nghệ liên quan.</p>
                    <div class="d-flex align-items-center mb-2">
                        <span
                            class="bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"><mat-icon>check</mat-icon></span>
                        <span>Kiến thức mới nhất</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">

                        <span
                            class="bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"><mat-icon>check</mat-icon></span>
                        <span>Công nghệ đổi mới</span>
                    </div>
                    <a class="btn btn-primary py-3 px-4" href="">Đọc thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light py-5 my-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp"
            style="max-width: 500px; visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h1 class="display-6 mb-3">Bài đăng gần đây</h1>
        </div>
        <div class="g-4">
            <app-blogs></app-blogs>
        </div>
    </div>
</div>