.service-item .title {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding-bottom: 2px;
}

.service-item .subject {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding-bottom: 2px;
}

.banner {
    background-image: url('../../../../../assets/img/home/background.png');
    background-size: 100%;
}

.text-banner {
    height: 90vh;
}

.showMore{
    position: relative;
    z-index: 9;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 90vh;
}
#particles-js .particles-js-canvas-el{
    max-height: 90vh !important;
}